# ==========================================
# 1. Временные файлы и настройки IDE
# ==========================================
# STM32CubeIDE
.metadata/
.settings/
*/.settings/
Debug/
Release/
*.launch

# Keil MDK-ARM
*.uvguix.*
*.uvgui.*
*.uvoptx
*.scvd
*.dbgconf

# IAR EWARM
*.ewp
*.eww
*.ewd
*.dep
*.dbgdt
*.jlink

# ==========================================
# 2. Результаты компиляции и линковки
# ==========================================
*.o
*.d
*.lst
*.crf
*.map
*.lnp
*.axf
*.htm
*.dep
*.iex
*.sct
*.build_log.htm

# ==========================================
# 3. Итоговые прошивки (обычно не хранят в Git)
# ==========================================
*.hex
*.bin
*.elf

# ==========================================
# 4. Файлы, генерируемые CubeMX
# ==========================================
.mxproject
*.ioc
*/.mxproject

# ==========================================
# 5. Логи и прочий мусор
# ==========================================
JLinkLog.txt
*.bak
*.log
*.tmp
*~

# ==========================================
# 6. Чтобы не ломалось
# ==========================================
Core/Src/eth.c
Core/Inc/eth.h

Core/Src/spi.c
Core/Inc/spi.h

Core/Src/usart.c
Core/Inc/usart.h

Core/Src/usb_otg.c
Core/Inc/usb_otg.h

Core/Src/gpio.c
Core/Inc/gpio.h

Core/Src/stm32*.c
Core/Inc/stm32*.h